<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ current_user['name'] }}'s profile</title>
</head>
<body>
    <p>Welcome back, {{ current_user['name'] }}. It's your profile</p>
    <span>Name: {{ current_user['name'] }}</span>
    <br>
    <span>Surname: {{ current_user['surname'] }}</span>
    <br>
    <span>Login: {{ current_user['login'] }}</span>
    <br>
    <span>Phone Number: {{ current_user['phone_number'] }}</span>
    <br>
    <span>Password: {{ current_user['password'] }}</span>
    <br>
    <form action="/user/update" method="GET" style="display: inline-block;">
        <input style="color: darkgreen" type="submit" value="Update">
    </form>
    <form action="/logout" method="GET" style="display: inline-block;">
        <input style="color: darkred" type="submit" value="Logout">
    </form>
    <form action="/shop/items" method="GET" style="display: inline-block;">
        <input style="color: darkorange" type="submit" value="To shop">
    </form>

</body>
</html>